body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.both{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.todo-container {
  width: 300px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
}
.todo-header {
}
.Todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.todo-item-text{
    margin-left: 5px;
}
.count-controle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
